*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #87adfe, #ff77cd);

}

.sidenav{
    width: 25%;
    height: 100%;
    float: left;
    position: fixed;
    align-content: center;
    justify-content: space-around;
    background: rgb(84, 107, 185);
    color: white;
    padding: 20px;
    z-index: 1;
    opacity: 0.9;
    
}

nav{
    display: flex;
    height: auto;

}
nav ul{
    list-style: none;
    align-content: space-around;
    width: 100%;
}
nav li{
    margin-top: 50px;
    font-size: 25px;
    border-radius: 2px;
}

nav a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;    
}

nav a:hover{
    background: #f2f2f2;
    color: black;
}

.container{
    margin-left: 25%;
    padding: 5px;
    background: #f2f2f2;
    width: 75%;

}

.row::after{
    content: none;
    display: table;
    clear: both;
}

.column-2{
    width: 50%;
    padding: 5px;
    float: left;
}
.home-content{
    padding: 25%;
    align-items: center;
    background: rgb(250, 242, 242);
}

.home-content h1{
    font-weight: bold;
    font-size: 2.5rem;
}

.home-content .line{
    width: 45%;
    display: block;
    height: 2px;
    border-bottom: 1px solid violet;
    padding: 10px;
}

.graduate{
    color: rgba(71, 46, 214, 0.699);
    font-size: 3rem;
}

.home-content-2{
    margin-top: 20px;
    color: gray;
    padding: 10px;
}

.home-content button{
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(243, 235, 235);
    background: linear-gradient(45deg, #85a0da, #ff77cd);
}
.image{
    align-items: center;
    padding-top: 25%;
}

.image img{
    width: 100%;
    border-radius: 30px;
}

/* Quiz section*/

#quiz{
    background-image: url("assets/Project_16-24.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.content{
    height: 100%;
    padding: 50px;
}

.card{
    height: 100%;
    width: 50%;
    box-shadow: 2px 2px 4px #f2f2f2;
    background-color: rgba(53, 85, 95, 0.3);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    border-radius: 20px;
}
.question{
    padding: 30px;
}

.next{
    border-radius: 10px;
    border: none;
    float: right;
    padding: 8px;
    background-color: rgba(101, 155, 32, 0.5);
    color: whitesmoke;
    width: 20%;
}

.prev{
    border-radius: 10px;
    border: none;
    width: 20%;
    padding: 8px;
    background-color: rgba(101, 155, 32, 0.5);
    color: whitesmoke;
}

.submit{
    border-radius: 10px;
    border: none;
    width: 20%;
    padding: 8px;
    background-color: rgba(101, 155, 32, 0.5);
    color: whitesmoke;
    margin-left: 40%;
}